body {
  background: #f7f9fc;
}

.main-box {
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 2px 1px #eee;
  margin: 5px;
}

a {
  text-decoration: none;
}

.pill {
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 100px;
  padding: 3px 12px 5px 12px;
  margin-right: 2px;
  margin-bottom: 5px;
}
